$fontall:14px/1.5 arial,"微软雅黑","Microsoft Yahei","Hiragino Sans GB",sans-seri;
article, aside, details, summary, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, s, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {border: 0 none;margin: 0;outline: 0 none;padding: 0;}
* {word-break: break-all;}
body, html {color:#444; font:$fontall; _background-image:url(about:blank); _background-attachment:fixed;/** 防止 ie6 抖动 **/}
input { margin: 0;padding: 0;vertical-align:middle;font:$fontall; outline:none;}
textarea{font:$fontall; outline:none;}
select{cursor: pointer; vertical-align: middle; font:$fontall; padding:0; margin:0; outline:none;}
option{ padding:0; margin:0; outline:none;}
li {list-style-type: none;}
img {text-align: center; vertical-align: middle;}
address, cite, dfn, em, var { font-style: normal;}
a {
    text-decoration: none; color:#444; cursor:pointer; transition: all 0.4s; -webkit-transition:all 0.4s; -moz-transition: all 0.4s;
    :hover{ color: #F30; text-decoration: none;}
}
img{border:0px;}
.clear{ clear: both; padding: 0; margin: 0; line-height: 0;}

::-webkit-scrollbar {
    width: 8px;/*竖向滚动条的宽度*/
    height: 8px;/*横向滚动条的高度*/
}
/*滚动条轨道的样式*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/*滚动条轨道内滑块的样式*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(155,155,155,0.4);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    
}
/*当焦点不在当前区域滑块的状态（具体为什么要加这句有点忘了，记得是跟刷新时有关）*/
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(155,155,155,0.4);
}


.bgMain{ background-size:100% 100%;}
.bg{ background: #f5f5f5;}

.posR{position: relative;}
.posA{ position: absolute;}
.posCenter{ left: 0; top: 0; right: 0; bottom: 0; margin: auto;}
.bgMain{ background: #F5F5F5;}
.boxShdow{ box-shadow: 0 1px 1px #efebeb;}

@mixin padall($bj) {
    padding:$bj;
}

.inedxhome {
    .indexLeft{
        @extend .posA;
        left:10px; top:40%; border-radius: 5px; right: auto; background: rgba(255,255,255,.3); max-height: 300px; width:50px; text-align: center; border: 1px solid #83dfff;
        a{ 
            display: block; width: 30px; height: 30px; line-height: 30px; text-align: center; margin: 10px auto; border-radius: 5px; text-decoration: none;
            &:hover{ background:rgba(11, 108, 156, 0.4);}
            span{ color: #FFF;  font-size: 24px;}
        } 
        
    }

    .desktop{
        @extend .posA, .posCenter;
        $mainOutSide:70px;
        left:$mainOutSide; right:$mainOutSide;
        .functionList{
            padding: 10px;
            dl{
                float: left; text-align: center; margin: 10px;
                dt{
                    width: 80px; height: 80px; border-radius: 10px; overflow: hidden;
                    Img{ width: 100%; height: 100%;}
                }
                dd{
                    color: #FFF; height:35px; line-height: 35px;
                }
            }
            .setFunList{ float: left; width: 80px; height: 80px; text-align: center; line-height: 80px; border: 1px dashed #FFF; color: #FFF; margin: 10px; box-sizing: border-box; border-radius: 10px;}
            .setFunList span{ font-size: 27px;}
        }
    }
}

.indexNotice{
    $topHeight:60px;
    .top{ height: $topHeight; background:#1b7ce2;
        .logo{float: left; line-height: $topHeight; padding: 0 10px; color: #FFF; font-size:22px; font-weight: bold;}
        nav{ 
            overflow: hidden; line-height: $topHeight; text-align: center; text-indent: -20em;
            a{ color: #FFF; font-size: 14px; padding: 0 20px;
                &.on{ background: rgba(255,255,255,.3); padding:8px 20px; border-radius:50px; margin: 0 10px;}
            }
        }
    }
    .inbox,.outbox{
        position: absolute; left: 0; top:$topHeight; right: 0; bottom: 0; margin: auto; box-sizing: border-box;
        .inboxM,.outboxM{
            @include padall(20px);
        }
    }
    .newNotice{
        position: absolute; left: 0; top:0; right: 0; bottom: 0; margin: auto; box-sizing: border-box; background: #FFF; overflow: hidden; overflow-y: auto;
        .newNoticeM{padding: 20px;
            .peoList{
                border: 1px solid #dedede; border-radius: 3px; padding: 10px;
                .choPeo{ display: inline-block; width: 50px; height: 50px; line-height: 50px; border: 1px dashed #dedede; text-align: center;
                    i{ font-size:28px;}
                    &:hover{ 
                        color: #66b1ff;  border: 1px solid #66b1ff;
                        i{ color: #66b1ff;}
                    }
                }
            }
            .bts{ 
                text-align: center; padding: 10px;
                button{ width: 200px;}
            }
    }
    }
    .topTool{ 
        border-bottom: 1px solid #eaeaea; padding: 10px 0;
        em{ 
            display: inline-block; padding: 0 0 0 10px;
            &:nth-child(1){ padding: 0;}
        }
    }

    .listMain{
        overflow: hidden; overflow-y: auto;
        ul{
            li{
                display: flex; padding: 10px 0;
                &:nth-child(even){ background: #ebf2f9;}
                .listBox{
                    flex:1;
                    &:first-child{flex:1.5;}
                    h3{ height: 40px; font-size: 15px; line-height: 40px; margin: 0 0 10px; text-align: center;}
                    h4{ font-weight: normal; color: #333; padding: 0 10px;}
                    .bts{ text-align: center;}
                    .readState{ text-align: center; display: block; color: #169232;}
                    .unRead{ color: #F30;}
                    dl{
                        padding: 5px 0; color: #666;
                        dt{float: left; width: 100px; text-align: right;}
                        dd{
                            .importance{ 
                                vertical-align: middle;
                                i{vertical-align: middle; margin: -7px 5px 0 0; display: inline-block; font-size:22px;}
                            }
                        }
                    }
                }
            }
        }
    }
    .paging{ text-align: center; padding: 20px 0 0
        ;}

}

.ndetails{
    $boxW:80%;
    @extend .posA,.posCenter;
    background: #FFF; z-index: 100;
    .detailsTop{ 
        text-align: center; padding: 10px;
        h2{ padding: 20px 0; font-size:24px;}
        .synopsis{
            padding: 0 0 20px;
            span{ display: inline-block; padding: 0 20px; color: #888;}
        }
    }
    .messageBox{
        width:$boxW; margin:0 auto; position: relative;
        .messageBoxN{
            @extend .posA, .posCenter; padding: 10px; box-sizing: border-box;
            overflow: hidden; overflow-y: auto; background: #f5f5f5; box-shadow: 0 1px 3px #c5c5c5; border-radius: 5px;
        }
        .suspensionBts{ 
            position: absolute; right: -50px; top: 0;
            a{ 
                display: block; width: 40px; height: 40px; text-align: center; line-height: 40px; background: #3e98f7; margin: 0 0 1px;
                i{
                     color: #FFF; font-size: 18px;
                     &.iconfont{ font-size:22px;}
                }
                &:hover{ background: #1b7ce2;}
            }
        }

    }
    .fileBox{  
        width:$boxW; margin:20px auto 0; position: relative; border-top: 1px solid #dedede;
        h4{ height:40px; line-height: 40px; font-size: 14px; font-weight: normal;}
        .fileBoxList{
            font-size: 0; 
            dl{ 
                font-size: 14px; display: inline-block; background: red; border-radius: 3px; height: 70px; width: 200px; margin: 0 5px 0 0;
                dt{ 
                    width: 50px; height: 50px; border-radius: 3px; float:left; margin: 10px; text-align: center; line-height: 50px; background: rgba(255,255,255,.2);
                    i{ font-size: 46px; color: #FFF;}
                }
                dd{ 
                    overflow: hidden; height: 100%; position: relative;
                    h5{ color: #FFF; font-weight: normal; padding: 10px 0; height: 30px; overflow: hidden;}
                    .fileSize{ position: absolute; height: 30px; line-height: 30px; left: 0; top: auto; right: 0; bottom: 0; text-align: right; padding: 0 10px; color: #FFF; opacity: .4; font-size: 12px;}
                }
                &.word{ background: #1b7ce2;}
                &.excel{ background: #18a95a;}
                &.ppt{ background: #e68a13;}
                
            }
        }
    }
    .haveRead{
        width:$boxW; margin:20px auto 0; position: relative;
        h4{ height:40px; line-height: 40px; font-size: 14px; font-weight: normal;}
    }
}

.layerBox{
    height: 400px; position: relative;
    .leftBox{ position: absolute; left: 0; top: 0; right: auto; bottom: 0; border:1px solid #dedede; width: 250px;}
    .rightBox{ position: absolute; left: auto; top: 0; right: 0; bottom: 0; border:1px solid #dedede; width: 250px;}
    .shuttleBox{
        @extend .posA,.posCenter;
        width: 600px;
        .shuttleBoxN{ position: absolute; left: 0; top: 51px; right: 0; bottom: 0; margin: auto; overflow: hidden; overflow-y: auto;}
        .topbar{ 
            text-align: center; padding:0 10px; height: 50px; line-height: 50px; border-bottom: 1px solid #dedede;
            h3{ text-align: justify; font-weight: normal; font-size: 15px;}
        }
    }
}

.indexPlan{
    @extend .indexNotice;
    .see{
        @extend .inbox;
        .seeM{
            @extend .inboxM;
        }
    }

    .formulate{
        @extend .inbox;
        .formulateM{
            @extend .inboxM;
            .formulateCon{
                h2{ text-align: center; font-size: 28px; padding: 20px 0;}
                em{ display: block; padding: 10px 0;}
                .Content{ overflow: hidden;}
                .bts{ 
                    text-align: center; padding: 20px 0 0;
                    button{ width: 200px;}
                }
            }
        }
    }
}

.watchPeoList{
    max-height: 300px; overflow: hidden; overflow-y: auto;
    dl{
        dt{ height: 30px; line-height: 30px; border-bottom: 1px solid #dedede; color: #333;}
        dd{
            padding:10px;
            span{
                padding:5px; width: 60px; text-align: center; display: inline-block; color: #666;
                &.wtd{ color: #169232;}
            }
        }
    }
}
